@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

:root {
	font-family: 'Poppins', sans-serif;
	--theme-color: #009688;
}

html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html::-webkit-scrollbar {
	width: .8rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: var(--theme-color);
	border-radius: .5rem;
}

* {
	margin: 0;
	padding: 0;
}

#banner {
	background: linear-gradient(rgba(0, 0, 0, 0.1), var(--theme-color)), url(Images/banner.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.logo {
	width: 50%;
	margin-top: 1.2rem;
	padding: 2rem 2rem;
	top: 4%;
	left: 10%;
}

.banner-text {
	text-align: center;
	color: #fff;
	padding-top: 18rem;
}

.banner-text h1 {
	font-size: 13rem;
	font-family: 'Kaushan Script', cursive;
}

.banner-text p {
	font-size: 2rem;
	font-style: italic;
}

.banner-btn {
	margin: 7rem auto 0;
}

.banner-btn a {
	width: 15rem;
	text-decoration: none;
	display: inline-block;
	margin: 0 1rem;
	padding: 1.2rem 0;
	color: white;
	border: .05rem solid white;
	font-size: 1.5rem;
	position: relative;
	z-index: 1;
	transition: color 0.5s;
}

/* hover effect span (initially) */
.banner-btn a span {
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	z-index: -1;
	transition: 0.5s;
}
/* hover effect span */
.banner-btn a:hover span {
	width: 100%;
}

.banner-btn a:hover {
	color: black;
}

/* SIDE NAVIGATION */
#sideNav {
	width: 25rem;
	height: 100vh;
	position: fixed;
	right: -25.1rem;
	top: 0;
	background-color: var(--theme-color);
	z-index: 2;
	transition: 0.5s;
	border-left: .1rem solid white;
}

.openNav {
	transform: translateX(-25.1rem);
}

nav ul li {
	list-style: none;
	margin: 3rem 2rem;
	transition: 0.5s;
	color: white;
	font-size: 1.8rem;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

nav ul li:hover {
	transform: translateX(1rem);
}

nav ul li:hover a {
	text-decoration: underline;
}

#menuBtn {
	width: 5rem;
	height: 5rem;
	background-color: var(--theme-color);
	text-align: center;
	position: fixed;
	right: 2rem;
	top: 2rem;
	border-radius: 0.3rem;
	z-index: 3;
	cursor: pointer;
	/* outline: .1rem solid white; */
}

#menuBtn img {
	width: 2rem;
	margin-top: 1.5rem;
}

/* FEATURE SECTION */
#feature {
	width: 100%;
	padding: 7rem 0;
}

.title-text {
	text-align: center;
	padding-bottom: 7rem;
}

.title-text p {
	margin: auto;
	font-size: 2rem;
	color: var(--theme-color);
	font-weight: bold;
	position: relative;
	z-index: 1;
	display: inline-block;
}

/* leaf-like gradient on title-text */
.title-text p::after {
	content: '';
	width: 5rem;
	height: 3.5rem;
	background: linear-gradient(var(--theme-color), white);
	top: -2rem;
	left: 0;
	position: absolute;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 3.5rem;
	border-bottom-right-radius: 3.5rem;
}

.title-text h1 {
	font-size: 5rem;
}

.feature-box {
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}

.features {
	flex-basis: 50%;
}

.features-img {
	flex-basis: 50%;
	margin: auto;
}
.features-img img {
	width: 70%;
	border-radius: 1rem;
}

.features h1 {
	text-align: left;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: var(--theme-color);
}

.features-desc {
	display: flex;
	align-items: center;
	margin-bottom: 4rem;
}

.feature-icon .fa-solid{
	width: 5rem;
	height: 5rem;
	font-size: 3rem;
	line-height: 5rem;
	border-radius: .8rem;
	color: var(--theme-color);
	border: .1rem solid var(--theme-color);
}

.feature-text p {
	padding: 0 2rem;
	text-align: initial;
	font-size: 1.5rem;
}

/* SERVICE SECTION */
#service {
	width: 100%;
	padding: 7rem 0;
	background: #efefef;
}

.service-box {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}

.single-service {
	text-align: center;
	flex-basis: 48%;
	border-radius: .7rem;
	margin-bottom: 2rem;
	color: white;
	position: relative;
}

.single-service img {
	width: 100%;
	border-radius: .7rem;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: .7rem;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5), var(--theme-color));
	opacity: 0;
	transition: .7s;
}

.single-service:hover .overlay{
	opacity: 1;
}

/* make description appear over image */
.service-desc {
	width: 80%;
	position: absolute;
	bottom: 0;
	left: 6rem;
	opacity: 0;
	font-size: 1.5rem;
	transition: .5s;
}

.service-desc hr {
	background-color: white;
	height: .2rem;
	border: 0;
	margin: 1.5rem auto;
	width: 60%;
}

/* make the description appear from bottom when hovered */
.single-service:hover .service-desc {
	transform: translateY(-100%);
	opacity: 1;
}

/* TESTIMONIAL SECTION */
#testimonial {
	width: 100%;
	padding: 7rem 0;
}

.testimonial-row {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.testimonial-col {
	flex-basis: 30%;
	padding: 1rem;
	margin-bottom: 3rem;
	border-radius: .5rem;
	box-shadow: 1rem 1rem 2rem .3rem #00968746;
	cursor: pointer;
	font-size: 1.5rem;
	transition: .5s;
}

.testimonial-col:hover {
	transform: scale(1.05);
}

.user {
	display: flex;
	align-items: center;
	margin: 2rem 0;
}

.user img {
	width: 5rem;
	margin-right: 2rem;
	border-radius: .3rem;
}

.user-info .fa-twitter{
	color: #27c0ff;
	font-size: 1.5rem;
}

.user-info h4 {
	font-size: 1.5rem;
}

.user-info small {
	font-size: 1.3rem;
	color: var(--theme-color);
}

/* FOOTER SECTION */
#footer {
	width: 100%;
	padding-top: 7rem;
	background-color: #efefef;
	position: relative;
}

.footer-row {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-left,
.footer-right {
	flex-basis: 45%;
	padding: 1rem;
	margin-bottom: 2rem;
}

.footer-right {
	text-align: right;
}

.footer-row h1 {
	margin: 1rem 0;
}

.footer-row p {
	line-height: 3.5rem;
	font-size: 1.5rem;
}

.footer-row .fa-solid {
	font-size: 2rem;
	color: var(--theme-color);
	margin: 1rem;
}

.social-links {
	text-align: center;
}

.social-links .fa-brands {
	height: 4rem;
	width: 4rem;
	font-size: 2rem;
	line-height: 4rem;
	border: .1rem solid var(--theme-color);
	margin: 4rem .5rem;
	color: var(--theme-color);
	cursor: pointer;
	transition: .5s;
}

.social-links .fa-brands:hover {
	background-color: var(--theme-color);
	color: white;
	transform: translateY(-1rem);
}

/* table and mobile phone, later change to separate table and mobile */
@media screen and (max-width: 768px) {
	.banner-text h1 {
		font-size: 4.5rem;
	}

	.banner-btn a {
		display: block;
		margin: 2rem auto;
	}

	.title-text h1 {
		font-size: 3.5rem;
	}

	.features {
		flex-basis: 100%;
	}

	.features-img {
		flex-basis: 100%;
	}
	
	.features-img img {
		width: 100%;
	}

	.single-service {
		flex-basis: 100%;
		margin-bottom: 3rem;
	}

	.service-desc hr {
		margin: .5rem auto;
	}

	.testimonial-col {
		flex-basis: 100%;
	}

	.footer-left,
	.footer-right {
		flex-basis: 100%;
	}

	.footer-img {
	top: 25%;
	}
}